// variables
$palePink: #fcd4d4;
$middlePink: #fecabf;
$darkPink: #ffd7d793;
$red: #fd2d01;
$fontColor: #2c3e50;
$black: black;
$white: white;

//*

a {
  text-decoration: none;
  color: $fontColor;
}

//homeView

.home {
  max-width: 450px;
  margin: auto;

  #home-logo {
    max-width: 400px;
    margin: auto;
    img {
      width: 100%;
    }
    // @media screen and (max-width: 600px) {
    //   margin: auto 5%;
    // }
    @media screen and (max-width: 450px) {
      max-width: 300px;
      margin: auto;
    }
    @media screen and (max-width: 350px) {
      max-width: 220px;
      margin: auto;
    }
  }
  .homeForm {
    padding: 2%;
    border-radius: 25px;
    background-color: #fcd4d4;
    margin: auto;
    border: solid 1px #eb6864;
    #home-menu {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0;
      margin: 5% 10%;

      @media screen and (max-width: 320px) {
        flex-direction: column;
        .btn {
          margin-bottom: 5%;
        }
      }
    }
    .btn {
      border-radius: 25px;
      border: none;
      transition: 0.5s;
    }
    .btn-primary {
      &:hover {
        transform: scale(1.1);
      }
    }
    .submit-btn {
      margin-top: 3%;
    }
    @media screen and (max-width: 600px) {
      margin: auto 5%;
    }
  }
}

//header
.nav {
  max-width: 600px;
  margin: auto;
  margin-bottom: 3%;
  display: flex;
  justify-content: space-around;
  border-radius: 25px;
  a {
    text-decoration: none;
    color: $white;

    &:hover {
      color: $black;
      transform: scale(1.1);
    }
  }
}

//getAllPosts

button {
  margin-bottom: 3%;
}

a {
  text-decoration: none;
  color: $fontColor;
}
.card {
  margin: auto;

  .card-text {
    text-align: start;
  }
}

//getOnePost

.form-control {
  margin: auto;
}
@import "./variables";
// @import "./bootstrap.min.css";
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./bootswatch";
