// variables
$palePink: #fcd4d4;
$middlePink: #fecabf;
$darkPink: #ffd7d793;
$red: #fd2d01;
$fontColor: #2c3e50;
$black: black;
$white: white;

//*

.home-logo {
  max-width: 400px;
  margin: auto;
  img {
    width: 100%;
  }
  @media screen and (max-width: 450px) {
    max-width: 300px;
    margin: auto;
  }
  @media screen and (max-width: 350px) {
    max-width: 220px;
    margin: auto;
  }
}

//homeView

.home {
  max-width: 450px;
  margin: auto;

  .homeForm {
    padding: 2%;
    border-radius: 25px;
    background-color: #fcd4d4;
    margin: auto;
    border: solid 1px #eb6864;
    #home-menu {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0;
      margin: 5% 10%;

      @media screen and (max-width: 320px) {
        flex-direction: column;
        .btn {
          margin-bottom: 5%;
        }
      }
    }
    button {
      border-radius: 25px;
      transition: 0.5s;
      color: #242a30;
      &:hover {
        transform: scale(1.1);
        color: $white;
      }
    }
    .submit-btn {
      margin-top: 3%;
    }
    @media screen and (max-width: 600px) {
      margin: auto 5%;
    }
  }
}

//header

#navbar {
  max-width: 600px;
  margin: auto;
  nav {
    border-radius: 25px;
    margin-bottom: 3%;
    width: 95%;
    margin: 3% auto;
    ul {
      width: 90%;
      margin: auto;
      justify-content: space-between;
    }
    a {
      text-decoration: none;
      color: #242a30;
      transition: 0.5s;
      border-radius: 25px;
      &:hover {
        transform: scale(1.1);
        background-color: #c85855;
        color: $white;
      }
    }
    @media screen and (max-width: 575px) {
      max-width: 350px;
      width: 90%;
      margin: auto;
      margin-bottom: 3%;
    }
  }
}
//getAllPosts, getOnePost

.card-view {
  button {
    border-radius: 25px;
    transition: 0.5s;
    margin-bottom: 2%;
    color: #242a30;

    &:hover {
      transform: scale(1.1);
      color: $white;
    }
  }
  .card {
    margin: auto;
  }
  .card-body {
    padding: 0;
  }
  .card-header {
    background-color: $palePink;
  }
  a {
    text-decoration: none;
    color: $fontColor;
  }
  h4 {
    text-decoration: underline;
    padding-top: 2%;
  }
  p {
    border-bottom: 1px solid #eb6864;
    padding-bottom: 2%;
  }
  #post-buttons {
    display: flex;
    justify-content: space-around;
    width: 85%;
    margin: auto;
  }
  #add-comment {
    max-width: 500px;
    margin: auto;
    textarea {
      margin-bottom: 3%;
    }
  }

  @media screen and (max-width: 600px) {
    width: 95%;
    margin: auto;
  }
}

//addNewPost

#add-post {
  max-width: 500px;
  margin: auto;
  textarea {
    margin-bottom: 3%;
  }
  @media screen and (max-width: 600px) {
    width: 95%;
    margin: auto;
  }
}

// profileView

#profile-view {
  button {
    border-radius: 25px;
    transition: 0.5s;
    color: #242a30;
    margin-bottom: 2%;
    margin-top: 2%;
    &:hover {
      transform: scale(1.1);
      color: $white;
    }
  }
}
@import "./variables";
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./bootswatch";
